@using SherplexTickets.Core.ViewModels.MovieView
@model MovieAddViewModel

@{
    ViewBag.Title = "Добави Филм";
}

<h2 class="text-center" style="color:white; background-color:rgb(0, 0, 0, 0.7); padding:1rem; width: 300px; margin: 0 auto; border-radius:3rem;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">@ViewBag.Title</h2>
<hr />
<style>
    body{
        background-image: url('@Url.Content("~/images/AddBackgroundMovie.png")');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    label{
        color:white;
        size: 2 rem;
    }
    
</style>

<div class="row" style="font-size: 1.1rem;">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6" style="background-color:rgb(0, 0,0, 0.7); padding:20px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 1rem;">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit"><bold>Заглавие</bold></label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Director" class="form-label-add-edit"><bold>Режисьор</bold></label>
                <input asp-for="@Model.Director" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Director" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ActorsName" class="form-label-add-edit"><bold>Имена на актьри отделени със "," или ", "</bold></label>
                <input asp-for="@Model.ActorsName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ActorsName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit"><bold>Резюме</bold></label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Duration" class="form-label-add-edit"><bold>Времетраене(минути)</bold></label>
                <input asp-for="@Model.Duration" class="form-control" aria-required="true" type="number" min="0">
                <span asp-validation-for="@Model.Duration" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.ReleaseDate" class="form-label-add-edit"><bold>Година на Публикуване</bold></label>
                <input asp-for="@Model.ReleaseDate" class="form-control" type="date" />
                <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.URLImage" class="form-label-add-edit"><bold>Линк към снимка на филма(URL)</bold></label>
                <input asp-for="@Model.URLImage" class="form-control" type="text" />
                <span asp-validation-for="@Model.URLImage" class="text-danger"></span>
            </div>

           
            <div class="mb-3" style="padding-left:30px;">
                <label asp-for="@Model.GenreIds" class="form-label-add-edit"><bold>Жанр</bold></label>
                <div class="row" >
                    @foreach (var category in Model.Genres)
                    {
                        <div class="col-md-6" >
                            <div class="form-check">
                                <input type="checkbox" id="@($"genre-{category.Id}")" name="GenreIds" value="@category.Id" class="form-check-input" @(Model.GenreIds.Contains(category.Id) ? "checked" : "")>
                                <label class="form-check-label" for="@($"genre-{category.Id}")">@category.Name</label>
                            </div>
                        </div>
                    }
                </div>
                <span asp-validation-for="@Model.GenreIds" class="text-danger"></span>
            </div>
           


            <div class="mb-3">
                <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Добави" />
                <a asp-action="All" class="btn btn-secondary mb-1 w-100 p-3 fw-bold">Обратно към Всички</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/GenresSelector/GenresSelector.js"></script>
    
}