@using SherplexTickets.Core.ViewModels.MovieView
@model MovieViewModel

@{
    ViewBag.Title = "Детайли";
}
<h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <img src="@Model.URLImage" class="img-fluid" alt="Book Image" style="max-width: 100%;" />
        </div>
        <div class="col-md-8">
            <h4>@Model.Title</h4>
            <p><strong>Режисьор:</strong> @Model.DirectorName</p>
            <p><strong>Жанр:</strong> @Model.GenresName</p>
            <p><strong>Резюме:</strong> @Model.Description</p>
            <p><strong>Актьори:</strong> @Model.ActorsName</p>
            <p><strong>Година на Публикуване:</strong> @Model.YearPublished</p>
            <p><strong>Времетраене:</strong> @Model.Duration мин.</p>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-controller="Book" asp-action="All" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Обратно към Всички</a>
        <a asp-controller="Book" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary mb-1 w-100 p-3 fw-bold">Добави в Количката</a>
    </div>
</div>