@using SherplexTickets.Core.ViewModels.MovieView
@model MovieViewModel

@{
    ViewBag.Title = "Детайли";
}
<link rel="stylesheet" type="text/css" href="~/css/AddMovie.css">
<link rel="stylesheet" type="text/css" href="~/css/Details.css">

<h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>
<hr />

<div>
    <iframe src="@Model.YoutubeTrailerUrl" frameborder="0" allowfullscreen></iframe>
</div>

<div class="containe">
    <div class="row justify-content-center align-items-start">
        <div class="col-md-4 text-center">
            <img src="@Model.URLImage" class="img-fluid" alt="Movie Image" />
        </div>
        <div class="col-md-8">
            <div>
                <h4>@Model.Title</h4>
                <p><strong>Резюме:</strong> @Model.Description</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Година на Публикуване:</strong> @Model.ReleaseDate</p>
                <p><strong>Времетраене:</strong> @Model.Duration мин.</p>
                <p><strong>Режисьор:</strong> @Model.DirectorName</p>
            </div>
            <div class="col-md-6">
                <p><strong>Жанр:</strong> @Model.GenresName</p>
                <p><strong>Актьори:</strong> @Model.ActorsName</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-controller="Movie" asp-action="All" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Обратно към Всички</a>
    <a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-1 w-100 p-3 fw-bold">Редактиране</a>
    <a asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-1 w-100 p-3 fw-bold">Изтрий</a>
</div>
