@using System.Globalization;
@using SherplexTickets.Core.ViewModels.MovieTheater
@using SherplexTickets.Extensions;
@model IEnumerable<MovieTheaterAllViewModel>

@{
    ViewBag.Title = "Всички Киносалони";
}

<link rel="stylesheet" type="text/css" href="/css/AllMovieTheater.css">


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="text-center mb-4">
        <a asp-controller="MovieTheater" asp-action="Add" class="btn btn-primary btn-lg">Добави киносалон</a>
    </div>

    <div class="row justify-content-center">
        @foreach (var movieTheater in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100 text-center">
                    <div class="status-indicator" style="border-radius: 0.5rem 0.5rem 0 0; background-color: @(MovieTheaterHelper.IsMovieTheaterOpen(movieTheater.OpeningTime, movieTheater.ClosingTime) ? "green" : "red")">
                        <span class="text-white">
                            @if (MovieTheaterHelper.IsMovieTheaterOpen(movieTheater.OpeningTime, movieTheater.ClosingTime))
                            {
                                <strong>Отворено</strong>
                            }
                            else
                            {
                                <strong>Затворено</strong>
                            }
                        </span>
                    </div>

                    <div>
                        <img class="card-img-top" src="@movieTheater.ImageUrl" alt="Movie Theater Image">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><strong>@movieTheater.Name</strong></h3>
                        <p class="card-text">
                            <strong>Работи:</strong>
                            <span class="d-inline">@movieTheater.OpeningTime.ToString("HH:mm")ч. -</span>
                            <span class="d-inline">@movieTheater.ClosingTime.ToString("HH:mm")ч.</span>
                        </p>
                    </div>
                    <a asp-controller="MovieTheater" asp-action="Details" asp-route-id="@movieTheater.Id" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Виж повече</a>
                </div>
            </div>
        }
    </div>
</div>
<script src="/js/IsMovieTheaterOpen.js"></script>


