@using System.Globalization;
@using SherplexTickets.Core.ViewModels.MovieTheater
@model IEnumerable<MovieTheaterAllViewModel>

@{
    ViewBag.Title = "Всички книжарници";
}
<style>
    body {
        background-image: url('@Url.Content("~/images/AllTheaterBackground.png")');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 1.1rem;
    }
</style>

<div class="container">
    <h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>
    <hr />

    <div class="row justify-content-center">
        @foreach (var movieTheater in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4" style="">
                <div class="card h-100 text-center" style="background:rgb(17, 31, 52); color:goldenrod; box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;">
                    <div class="status-indicator" style="background-color: @(IsBookstoreOpen(movieTheater.OpeningTime, movieTheater.ClosingTime) ? "green" : "red")">
                        <span class="text-white">
                            @if (IsBookstoreOpen(movieTheater.OpeningTime, movieTheater.ClosingTime))
                            {
                                <strong>Отворено</strong>
                            }
                            else
                            {
                                <strong>Затворено</strong>
                            }
                        </span>
                    </div>
                    <div style="height: 200px; overflow: hidden;">
                        <img class="card-img-top" src="@movieTheater.ImageUrl" alt="Movie Theater Image" style="height: 12rem; object-fit: cover;">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><strong>@movieTheater.Name</strong></h3>
                        <p class="card-text">
                            <strong>Работи:</strong>
                            <span class="d-inline">@movieTheater.OpeningTime.ToString("HH:mm")ч. -</span>
                            <span class="d-inline">@movieTheater.ClosingTime.ToString("HH:mm")ч.</span>
                        </p>
                    </div>
                    <a asp-controller="MovieTheater" asp-action="Details" asp-route-id="@movieTheater.Id" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Виж повече</a>
                    <a asp-controller="MovieTheater" asp-action="AllMovie" asp-route-id="@movieTheater.Id" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Какво ще гледам през седмицата</a>
                </div>
            </div>

        }
    </div>
</div>

@functions {
    bool IsBookstoreOpen(DateTime openingTime, DateTime closingTime)
    {
        var now = DateTime.Now;

        if (now.Hour < openingTime.Hour || now.Hour > closingTime.Hour)
        {
            return false;
        }

        if (now.Hour > openingTime.Hour && now.Hour < closingTime.Hour)
        {
            return true;
        }

        if (now.Hour == openingTime.Hour)
        {
            if (now.Minute >= openingTime.Minute)
            {
                return true;
            }
            else
            {
                return false;
            }
        }
        else
        {
            if (now.Minute <= closingTime.Minute)
            {
                return true;
            }
            else
            {
                return false;
            }
        }
    }
}