@using SherplexTickets.Core.ViewModels.MovieTheater
@using SherplexTickets.Extensions
@model MovieTheaterViewModel

@{
    ViewBag.Title = "Детайли";
}
<h2 class="text-center" style="color:goldenrod; background-color:rgb(17, 31, 52); padding:1rem;  border: 2px solid white; width: 30rem; margin: 0 auto; border-radius:3rem;box-shadow: 0px 0px 43px 9px goldenrod;">@ViewBag.Title</h2>
<hr />

<div class="container" style="box-shadow: 0px 0px 43px 9px goldenrod;color:goldenrod; border: 2px solid white; background:rgb(17, 31, 52); padding: 3px;">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12 text-center mb-4" style="position: relative;">
            <img src="@Model.ImageUrl" class="img-fluid" alt="Movie Theater Image" style="max-width: 100%; border-radius: 1rem;" />
            <div class="status-indicator" style="position: absolute; top: 1rem; right: 1rem; width:10rem; text-align:center; background-color: @(MovieTheaterHelper.IsMovieTheaterOpen(Model.OpeningTime, Model.ClosingTime) ? "green" : "red"); border-radius: 1rem;">
                <span class="text-white">
                    @if (MovieTheaterHelper.IsMovieTheaterOpen(Model.OpeningTime, Model.ClosingTime))
                    {
                        <strong>Отворено</strong>
                    }
                    else
                    {
                        <strong>Затворено</strong>
                    }
                </span>
            </div>
        </div>

        <div class="col-md-12">
            <h4 style="margin-bottom: 20px; text-align: center;">@Model.Name</h4>
            <div class="row" style="padding:1rem 1rem;">
                <div class="col-md-12" style="border: 2px solid goldenrod; border-radius: 1rem;">
                    <p class="card-text">
                        <strong>Работи:</strong>
                        <span class="d-inline">@Model.OpeningTime.ToString("HH:mm")ч. -</span>
                        <span class="d-inline">@Model.ClosingTime.ToString("HH:mm")ч.</span>
                    </p>
                    <p><strong>Телефонен номер: </strong> @Model.Contact</p>
                    <p><strong>Локация: </strong> @Model.Location</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<h2 class="text-center" style="color:goldenrod; background-color:rgb(17, 31, 52); border: 2px solid white; padding:1rem; margin: 0 auto; border-radius:3rem;box-shadow: 0px 0px 43px 9px goldenrod;">Какво ще дават през следващите 7дни</h2>
<hr />

<div class="container" style="margin-top: 2rem;">
    @foreach (var schedule in Model.WeeklySchedules)
    {
        <div class="card mb-3" style="border: 4px solid goldenrod;">
            <div class="card-header" style="background: rgb(17, 31, 52); color: goldenrod; border-bottom: 4px solid goldenrod; display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <h3 class="card-title">@schedule.DayNameAndDate</h3>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-controller="MovieTheaterMovieLink" asp-action="Edit" asp-route-id="@schedule.Id" class="btn btn-primary mb-1 fw-bold">Редактиране</a>
                    <a asp-controller="MovieTheaterMovieLink" asp-action="Delete" asp-route-id="@schedule.Id" class="btn btn-danger mb-1 fw-bold">Изтрий</a>
                </div>
            </div>
            <div class="card-body" style="background: rgb(17, 31, 52); color: goldenrod;">
                <div class="row">
                    <div class="col-md-3" style="border-right: 2px solid goldenrod; margin-right: 1rem; max-height: 15rem; max-width: 15rem;">
                        <img src="@schedule.MovieImageUrl" class="img-fluid" alt="Movie Image" style="max-height: 15rem; max-width: 15rem;" />
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">@schedule.MovieTitle</h4>
                        <p class="card-text">Цена: @schedule.Price лв.</p>
                        <p class="card-text">Времена на представления:</p>
                        <ul class="list-unstyled row text-center" style="gap: 1rem">
                            @foreach (var showTime in schedule.ShowTimeMovie)
                            {
                                <li class="col" style="background: goldenrod; color: rgb(17, 31, 52); border-radius: 1rem; font-weight: bold;">@showTime</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<div class="text-center mt-3">
    <a asp-controller="MovieTheater" asp-action="All" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Обратно към Всички</a>
    <a asp-controller="MovieTheater" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-1 w-100 p-3 fw-bold">Редактиране</a>
    <a asp-controller="MovieTheater" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-1 w-100 p-3 fw-bold">Изтрий</a>
</div>
</div>
<style>
    body {
        background-image: url('@Url.Content("~/images/TheaterAll.png")');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
